# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# GOOGLE_SHEETS_ID: The ID of your Google Spreadsheet.
GOOGLE_SHEETS_ID="1bQsBDXYog6He-a6mkMNYdUtNIe8wbhqpa7MIAi8ld9k"

# GOOGLE_CLIENT_EMAIL: The email of your Google Service Account.
GOOGLE_CLIENT_EMAIL=""

# GOOGLE_PRIVATE_KEY: The private key of your Google Service Account.
# Note: Use \n for newlines in the key string.
GOOGLE_PRIVATE_KEY=""
